.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade {
    -webkit-transition-duration: 1s;
    /* Safari */
    transition-duration: 1s;
}

.form-check-input {
    text-align: right;
}

.form-check-label {
    text-align: right;
    margin-bottom: 12px;
    margin-right: 18px;
}

#formDiv {
    position: relative;
}

body {
    background-color: #E8EFF7;
    text-align: right;
}

body.dark-mode {
    background-color: #373434;
}

body.dark-mode>nav {
    background-color: #373434;
}

#logregdiv {
    visibility: hidden;
    position: relative;
    float: left;
    width: 40%;
    height: 360px;
    background-color: white;
}

body.dark-mode #logregdiv {
    background-color: #4e4444;
}

body.dark-mode>nav>div>a {
    color: #bd4040;
}

body.dark-mode>nav>div>a:hover {
    color: #d31919;
}

#blue-logo {
    display: block;
}

body.dark-mode #blue-logo {
    display: none;
}

body.dark-mode #red-logo {
    display: block;
}

#red-logo {
    display: none;
}

#registerTab {
    border-color: white;
    background-color: white;
}

body.dark-mode #registerTab {
    border-color: #4e4444;
    background-color: #4e4444;
    color: #fa7777;
}

#registerTab.active {
    background-color: rgb(32, 68, 145);
    color: white;
}

body.dark-mode #registerTab.active {
    background-color: #bd4040;
    color: white;
}

#loginTab {
    border-color: white;
    background-color: white;
}

body.dark-mode #loginTab {
    border-color: #4e4444;
    background-color: #4e4444;
    color: #fa7777;
}

#loginTab.active {
    background-color: rgb(32, 68, 145);
    color: white;
}

body.dark-mode #loginTab.active {
    background-color: #bd4040;
    color: white;
}

#check-rules:hover {
    cursor: pointer;
}

body.dark-mode #check-rules {
    color: red !important;
}

body.dark-mode #check-rules-label {
    color: white;
}

#submit-button {
    background-color: rgb(32, 68, 145);
    border-color: rgb(32, 68, 145);
}

body.dark-mode #submit-button {
    background-color: #bd4040;
    border-color: #bd4040;
}

* {
    transition: 0.3s;
}

#image-light {
    height: 360px;
    width: 100%;
    visibility: hidden;
    left: 300px;
    position: relative;
    display: block;
}

body.dark-mode #image-light {
    display: none;
}

#image-dark {
    height: 360px;
    width: 100%;
    visibility: hidden;
    left: 300px;
    position: relative;
    display: none;
}

body.dark-mode #image-dark {
    display: block;
}

#return-home-text, #return-home-icon {
    cursor: pointer;
}

@media (max-width:600px) {
    /* your conditional / responsive CSS inside this condition */
    #img-container, #image-blue, #image-red, #note {
        display: none !important;
        visibility: hidden !important;
    }
}

#top-navbar {
    opacity: 0;
}

#logregdiv {
    right: 300px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #a20101 !important;
    background-color: #a20101 !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.2) !important;
}

body.dark-mode #dark-btn-label {
    color: #bd4040;
    border-color: #bd4040;
}

.custom-control {
    margin-top: 15px;
}

#img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-text{
    font-weight: bold;
    opacity: 0;
    font-size: 20pt;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-text-light {
    text-shadow: 2px 1px 3px rgb(0, 0, 0);
    display: block;
}

body.dark-mode #image-text-light {
    display: none;
}

#img-text-dark {
    text-shadow: 2px 1px 3px #ff0000;
    display: none;
}

body.dark-mode #img-text-dark {
    display: block;
}