* {
  transition: 0.3s;
}

body {
  overflow: hidden;
}

.navbar {
  background-color: #e8eff7;
  position: sticky !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  width: 300px;
  text-align: right;
  padding-right: 10px;
  padding-top: 0;
}

nav > div > button {
  width: 120px;
  border-width: 3px !important;
}

nav > div > .btn-primary,
nav > div > .btn-outline-primary:hover,
nav > div > .btn-outline-primary {
  border-color: #186aa5;
}

nav > div > .btn-primary {
  background-color: #186aa5;
}

nav > div > .btn-outline-primary:hover {
  background-color: #186aa5;
}

#panelButtons > .btn-outline-primary,
nav > div > .btn-outline-primary {
  color: #186aa5;
}

#panelButtons > .btn-outline-primary {
  border-color: #186aa5;
}

#panelButtons > .btn-outline-primary:hover {
  background-color: #186aa5;
  color: white;
}

#panelButtons > button {
  width: 90px;
  border-width: 3px !important;
}

.nav-item > a {
  color: #186aa5;
}

.sidebar {
  width: 300px;
  height: 100%;
  z-index: 1;
  right: 0;
  position: fixed;
  background-color: #186aa5;
  color: white;
  font-size: large;
  text-align: right;
  justify-content: center;
  padding-top: 50px;
  padding-right: 50px;
}

.mainPanel {
  margin-right: 300px;
}

.container {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}

.cards {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #e8eff7 !important;
}

body.dark-mode > div > div > div > div > .card {
  background-color: #f7e8e8 !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.tableDiv {
  text-align: center;
  transition: opacity 0.2s linear;
  width: 130vh;
  min-width: 70vh;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e8eff7;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #ffffff;
}

.table-striped > thead {
  background-color: #186aa5;
  color: white;
}

.table-striped > tbody > tr > td,
.table-striped > thead > tr > th {
  border: 1px solid #d1e4f3;
}

#panelButtons {
  display: none;
  /* changes to flex in panels */
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.scrollbar {
  float: left;
  height: 600px;
  overflow-y: scroll;
  margin-bottom: 25px;
  padding: 5px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  background: none;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
}

.scrollbar-primary::-webkit-scrollbar-thumb:hover {
  background-color: #186aa5;
}

.scrollbar-primary {
  scrollbar-color: #186aa5 #f5f5f5;
}

body.dark-mode > nav > div > ul > li > a {
  color: #a20101;
}

body.dark-mode {
  background-color: #373434;
}

body.dark-mode > nav {
  background-color: #1c1516;
}

body.dark-mode > .sidebar {
  background-color: #241d1d;
}

body.dark-mode > .scrollbar-primary::-webkit-scrollbar-thumb:hover {
  background-color: #a20101;
}

body.dark-mode > .scrollbar-primary {
  scrollbar-color: #a20101 #f5f5f5;
}

/* Table Dark*/
body.dark-mode
  > div
  > div
  > div
  > div
  > .table-striped
  > tbody
  > tr:nth-child(odd)
  > td,
body.dark-mode
  > div
  > div
  > div
  > div
  > .table-striped
  > tbody
  > tr:nth-child(odd)
  > th {
  background-color: #f7e8e8;
}

body.dark-mode > div > div > div > div > .table-striped > thead {
  background-color: #dc3545;
  color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #a20101 !important;
  background-color: #a20101 !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.2) !important;
}

/* responsive design */
#toggle-div > svg{
    fill:#186aa5;
    transition: 0s !important;
}
body.dark-mode #toggle-div > svg{
    fill:#a20101;
}
@media (max-width: 600px) {
  #sidebar.active {
    opacity: 0;
    margin-left: -300px;
  }
  #sidebar {
    /* todo move left */
    left: 0;
    right: auto;
  }
  #toggle-div {
    display: block !important;
  }
  #login-div {
    display: none !important;
  }
  .mainPanel {
    margin-right: 0px;
  }
  #home-data{
      display: none;
  }
}
