.navbar {
    background-color: #E8EFF7;
    position: sticky !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

/*.card {*/
/*    border: 2px solid #e7e7e7;*/
/*    border-radius: 4px;*/
/*    padding: .5rem;*/
/*}*/

body {
    /*overflow: hidden;*/
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: #186AA5;
    color: white;
    font-size: large;
    display: inherit;
    position: fixed;
    text-align: right;
    justify-content: center;
    padding-top: 50px;
    padding-right: 50px;
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    border-radius: 10px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: blue;*/
/*    border-radius: 10px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #b30000;*/
/*}*/

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 600px;

    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #186AA5; }

.scrollbar-primary {
    scrollbar-color: #186AA5 #F5F5F5;
}
